@import "tailwindcss";


html,
body {
  background-color: #060914; /* same as your darkest section */
  margin: 0;
  padding: 0;
  overflow-x: hidden;        /* 🔥 prevents white sides */
}


/* Scroling smooth */

html {
  scroll-behavior: smooth;
}


section {
  scroll-margin-top: 80px; /* navbar height */
}


/* <----- Styling for 3D Card Flip Effect -----> */

.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


/* experience card style */
.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/*  card scrollbar hide */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
